<h1>Hello, World!</h1>

<% benchmark("render 'header' (template inheritance)") do %>
  <%= render "header" %>
<% end %>

<% benchmark("render 'application/header2' (full path)") do %>
  <%= render "application/header2" %>
<% end %>

<% benchmark("render 'things' (path relative to current view)") do %>
  <%= render "things" %>
<% end %>

<% benchmark("render 'homes/things2' (full path)") do %>
  <%= render "homes/things2" %>
<% end %>
